<div *ngIf="isCreationSuccessful">
  <h2>Created Account of User: {{account.user.username}}</h2>
  
</div>

<div >
  <h2 class="text-center" *ngIf="!isCreationSuccessful">Create new Account</h2>
<form
*ngIf="!isCreationSuccessful">
  <div class="form-group">
    <label for="email">Display Name:</label>
    <input type="email" [(ngModel)]="account.displayName" placeholder="Display Name" name="displayName" class="form-control" id="displayName">
  </div>

  <div class="form-group">
    <label for="firstName">Username: </label>
    <input [(ngModel)]="account.username" placeholder="Username" name="username" class="form-control" id="username">
  </div>


  <div class="form-group">
    <label for="password">Password</label>
    <div class="input-group mb-3">
     
      <input [type]="show ? 'text' : 'password'" 
      class="form-control" 
      id="password"
      name="password"
      [(ngModel)] = "account.password"
      placeholder="Password"
      aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-show"  type="button" (click)="passwordShow()"><i class="material-icons">
          remove_red_eye
          </i></button>
      </div>
    </div>
    




    
    
  </div>

  
  <div class="modal-footer form-group btn-form">
  
    <button class="btn btn-success btn-block btn-confirm" (click)="onSubmit()">Create</button>
    <button class="btn btn-danger btn-block btn-close" (click)="closeDialog()">Close</button>
  
   
  </div>

</form
>
</div>