<div style="margin-top:30px;" class="container">
  <div class="row">
  <div class="col-md-4 messages-container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-search-messages">
         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">
                    search
                    </i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">By Title</a>
                  <a class="dropdown-item" href="#">By Sender</a>
                  <a class="dropdown-item" href="#">By Content</a>
                  <a class="dropdown-item" href="#">By AttachmentContent</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>

      
            </ul>
       <!--      <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
          </div>
        </nav>
      </div>
      <div class="panel-body">
    
      </div>


      
      <table class="table table-hover table-fixed table-sm" id="dev-table">
        <thead>
          <tr>
            <th>From</th>
      
          </tr>
        </thead>
    
        <tbody >
          <tr *ngFor="let message of messages">
            <td (click) = "clickMessage(message)">
              
              <i class="material-icons messicon" *ngIf="message.unread" style="color: rgb(245, 173, 18);" >
                email
                
                </i>

                <i class="material-icons messicon" *ngIf="!message.unread" >
                  mail_outline
                  </i>
              {{message.from}}
           
        
                <br>
                <p><small>{{message.dateTime}} <i class="material-icons delete-icon"  (click)="deleteMessageModal(message)">
                  delete
                  </i> </small></p>

            </td>

          
     
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="col-md-8 show-message-in-big">
    <div class="row" >
      <div class="col-sm-12">

        <form>
     
          <div class="form-group">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <img src="assets/img/avatar.png" alt="Avatar" class="avatar">

              </div>
              <input 
              readonly 
              type="text" 
              class="form-control" 
              id="senderAddress" 
              name="from"
              [(ngModel)]="isItClicked ? clickMess.from : originalValue"
              >
            </div>


            
          
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
             
            <input 
             readonly
              type="text" 
              class="form-control" 
              id="ccInput" 
              name="cc"
              [(ngModel)]="isItClicked ? clickMess.cc : originalValue"
              >
            </div>
            <div class="form-group col-md-6">
              
              <input
              readonly 
              type="text"
              class="form-control"
              id="bccInput" 
              name="bcc"
              [(ngModel)] = "isItClicked ? clickMess.bcc : originalValue"
              >
            </div>
          </div>
          <div class="form-group">
         
            <input 
            readonly
            type="text" 
            class="form-control" 
            id="subjectInput" 
            name="subject"
            [(ngModel)]= "isItClicked ? clickMess.subject : originalValue"
            >
          </div>
          <div class="form-group">
            
            <textarea class="form-control" 
            readonly
            id="contentInput" 
            rows="20"
            name="content"
            [(ngModel)]="isItClicked ? clickMess.content : originalValue"
            ></textarea>
          </div>

        </form
        >
      </div>



      
        <div class="card border-secondary mb-3" style="max-width: 8rem; margin-right: 5px; font-size: 10px;" *ngFor="let attachment of attachments">
          <div class="card-header" (click)="downloadAttachment(attachment)"><i class="material-icons attachment-icon">
            attachment
            </i> {{attachment.name}}</div>
       
        </div>

     

      
 <!--      <div class="card" style="width: 8rem; height: 2rem; margin: 0.5rem;" *ngFor="let attachment of attachments" >
        
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"  (click)="downloadAttachment()"><i class="material-icons attachment-icon">
            attachment
            </i> <br>
            {{attachment.name}}
          </p>
          
        </div>
      </div>

 -->

      


    </div>
  </div>















</div>
</div>
<nav aria-label="...">
<ul style="margin-left: 180px;margin-top:-10px;" class="pagination"  *ngIf="pageClient?.content" >
  <li *ngFor="let page of ' '.repeat(pageMessage.totalPages).split(''), let i = index " (click)="onSelect(i)" [class.active]="i === selectedPage" class="page-item"><a class="page-link" href="#">{{i}}</a></li>
</ul>
</nav>