
<div class="col-md-12 logincard">
  <div class="card card-container">
    <img
      id="profile-img"
      src="assets/img/3378.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        
        <input
          type="text"
          placeholder="First Name"
          class="form-control"
          name="firstname"
          [(ngModel)]="form.firstname"
          required
          minlength="3"
          maxlength="20"
          #firstname="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && firstname.invalid">
          <div *ngIf="firstname.errors.required">first name is required</div>
          <div *ngIf="firstname.errors.minlength">
            first name must be at least 3 characters
          </div>
          <div *ngIf="firstname.errors.maxlength">
            first name must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        
        <input
          type="text"
          placeholder="Last Name"
          class="form-control"
          name="lastname"
          [(ngModel)]="form.lastname"
          required
          minlength="3"
          maxlength="20"
          #lastname="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && lastname.invalid">
          <div *ngIf="lastname.errors.required">last name is required</div>
          <div *ngIf="lastname.errors.minlength">
            last name must be at least 3 characters
          </div>
          <div *ngIf="firstname.errors.maxlength">
            last name must be at most 20 characters
          </div>
        </div>
      </div>

<!--       <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div> -->
      <div class="form-group">
        
        <input
          type="password"
          placeholder="Password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group btn-form">
        <button class="btn btn-primary haha btn-block btn-lg">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && !isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>